<form>

    <div class="filter">

        <div class="filter-wrapper">
            <span class="p-float-label">
                <input name="name" id="name" type="text" pInputText [(ngModel)]="filter.name">
                <label for="name">Name</label>
            </span>
        </div>

        <div class="filter-wrapper">
            <p-dropdown name="category" [options]="categories" [(ngModel)]="filter.categoryId" placeholder="Select category" [showClear]="true">
            </p-dropdown>
        </div>

        <div class="filter-wrapper">
            <p-dropdown name="category" [options]="artists" [(ngModel)]="filter.artistId" placeholder="Select artist" [showClear]="true">
            </p-dropdown>
        </div>

        <div class="filter-wrapper">
            <p-dropdown name="category" [options]="designers" [(ngModel)]="filter.designerId" placeholder="Select designer" [showClear]="true">
            </p-dropdown>
        </div>

        <div class="filter-wrapper">
            <p-dropdown name="category" [options]="mechanics" [(ngModel)]="filter.mechanicsId" placeholder="Select mechanic" [showClear]="true">
            </p-dropdown>
        </div>

        <div class="filter-wrapper">
            <span class="p-float-label">
                <input name="priceFrom" id="priceFrom" type="number" pInputText [(ngModel)]="filter.priceFrom">
                <label for="priceFrom">Price from</label>
            </span>
        </div>

        <div class="filter-wrapper">
            <span class="p-float-label">
                <input name="priceTo" id="priceTo" type="number" pInputText [(ngModel)]="filter.priceTo">
                <label for="priceTo">Price to</label>
            </span>
        </div>

        <div class="filter-wrapper">
            <span class="p-float-label">
                <input name="stockFrom" id="stockFrom" type="number" pInputText [(ngModel)]="filter.stockFrom">
                <label for="stockFrom">Stock from</label>
            </span>
        </div>

        <div class="filter-wrapper">
            <span class="p-float-label">
                <input name="stockTo" id="stockTo" type="number" pInputText [(ngModel)]="filter.stockTo">
                <label for="stockTo">Stock to</label>
            </span>
        </div>

        <div class="btn-wrapper">
            <button pButton pRipple type="submit" label="Search" icon="pi pi-search" name="search" (click)="searchClick()"></button>
        </div>
        <div class="btn-wrapper">
            <button pButton pRipple type="button" label="Clear" icon="pi pi-times" (click)="clearClick()" name="clear"></button>
        </div>

    </div>

</form>

<div class="add-btn">
    <button pButton pRipple type="button" label="Add" icon="pi pi-plus" class="p-button-success" routerLink="/products/0"></button>
</div>

<div class="table-wrapper">

    <p-table [value]="products">
        <ng-template pTemplate="header">

            <tr>
                <th class="attachment-column"></th>
                <th>Name</th>
                <th>Category</th>
                <th>Artist</th>
                <th>Designer</th>
                <th>Mechanics</th>
                <th class="number-column">Price</th>
                <th class="number-column">Stock</th>
                <th class="icon-column"></th>
            </tr>


        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td> <img class="primary-attachment" [src]="product.primaryAttachmentUrl | secure | async" *ngIf="product.primaryAttachmentUrl"> </td>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.artist}}</td>
                <td>{{product.designer}}</td>
                <td>{{product.mechanics}}</td>
                <td>{{product.price | currency:'USD'}}</td>
                <td>{{product.stock}}</td>
                <td class="icon-wrapper">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2" [routerLink]="['/products', product.id]"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteClick(product.id)"></button>
                </td>
            </tr>

        </ng-template>
    </p-table>

</div>

<p-paginator [rows]="paginator.pageSize" [totalRecords]="paginator.totalRecords" [rowsPerPageOptions]="paginator.options" (onPageChange)="onPaginate($event)"></p-paginator>

<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>