.table-wrapper {
    .orders {
        overflow: auto;

        th {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        .transaction-type-marker-column {
            width: 30px;
        }

        th,
        td {
            text-align: center;
        }
    }
}
