.container {
    margin: 22px 15px;

    .filter-wrapper {
        display: inline-block;
        width: 200px;
        margin-left: 15px;
        vertical-align: middle;
    }

    .btn-wrapper {
        margin-left: 15px;
        display: inline-block;
        vertical-align: middle;
    }
}
