<div class="container">

    <div class="filter-wrapper">
        <span class="p-float-label">
            <input name="pinCode" id="pinCode" type="number" pInputText [(ngModel)]="filter.pinCode">
            <label for="pinCode">Pin Code</label>
        </span>
    </div>

    <div class="filter-wrapper">
        <span class="p-float-label">
            <input name="email" id="email" type="text" pInputText [(ngModel)]="filter.email">
            <label for="email">Email</label>
        </span>
    </div>

    <div class="filter-wrapper">
        <span class="p-float-label">
            <input name="firstname" id="firstname" type="text" pInputText [(ngModel)]="filter.firstname">
            <label for="firstname">Firstname</label>
        </span>
    </div>

    <div class="filter-wrapper">
        <span class="p-float-label">
            <input name="lastname" id="lastname" type="text" pInputText [(ngModel)]="filter.lastname">
            <label for="lastname">Lastname</label>
        </span>
    </div>

    <div class="btn-wrapper">
        <button pButton pRipple type="submit" label="Search" icon="pi pi-search" name="search"
            (click)="searchClick()"></button>
    </div>

    <div class="btn-wrapper">
        <button pButton pRipple type="button" label="Clear" icon="pi pi-times" (click)="clearClick()"
            name="clear"></button>
    </div>
    
</div>



