.container {
    padding: 15px 10px 5px;

    .filter-wrapper {
        display: inline-block;
        width: 210px;
        padding: 12px 5px;
        vertical-align: middle;
    }

    .btn-wrapper {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
}
