<nav class="navigation-wrapper">

    <div class="icon-wrapper" routerLink="/users" routerLinkActive="active">
        <span class="material-icons users">
            group
        </span>
        <div>users</div>
    </div>

    <div class="icon-wrapper" routerLink='/transactions' routerLinkActive="active">
        <span class="material-icons transactions">
            payment
        </span>
        <div>transactions</div>
    </div>

    <div class="icon-wrapper products" routerLink="/products" routerLinkActive="active">
        <span class="material-icons products">
            videogame_asset
        </span>
        <div>products</div>
    </div>

    <div class="icon-wrapper category" routerLink="/categories" routerLinkActive="active">
        <span class="material-icons">
            category
        </span>
        <div>categories</div>
    </div>



    <div class="login">
        <span> <b> Logged in as:</b> <span class="user-color"> {{ email }} </span></span>
        <button pButton pRipple type="button" label="Logout" class="p-button-raised p-button-danger p-button-sm"
            (click)="logout()"></button>
    </div>

</nav>